#!/usr/bin/env bash

set -e

PROOT="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"
NODE_VERSIONS="22"

export PROOT
export NODE_VERSIONS
export NVM_DIR="$HOME/.nvm"

PATH_add "$NVM_DIR/nvm.sh"
PATH_add "$HOME/.bun/bin"
PATH_add "$HOME/.task/bin"

use_nvm() {
  watch_file .nvmrc
  if ! [[ -d "$NVM_DIR" ]]; then
    echo "Installing NVM" >&2
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.2/install.sh | bash
  fi

  PATH_add "$NVM_DIR"
  source "$NVM_DIR/nvm.sh" || return 1
  # shellcheck source=/Users/jhettenh/.nvm/nvm.sh

  nvm install
  layout node
}

use_bun() {
  watch_file .bun-version
  if ! command -v bun >/dev/null 2>&1; then
    echo "Installing Bun" >&2
    curl -fsSL https://bun.sh/install | bash
  fi

  PATH_add "$HOME/.bun/bin"
  bun install
}

use_task() {
  watch_file Taskfile.yaml
  if ! command -v task >/dev/null 2>&1; then
    echo "Installing Task" >&2
    sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d
  fi

}

use_nvm && use_bun
use_task
